<div class="p-6 space-y-4 md:space-y-4 sm:p-8">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-4">
        Welcome back
    </h1>
    <div class="flex gap-4">
        <button (click)="loginWithGoogle()" class="active:bg-gray-200 hover:bg-gray-100 w-1/2 flex justify-center items-center text-sm gap-2 rounded-lg border-gray-300 border py-2">
            <svg class="h-5" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_13183_10121)">
                    <path
                        d="M20.3081 10.2303C20.3081 9.55056 20.253 8.86711 20.1354 8.19836H10.7031V12.0492H16.1046C15.8804 13.2911 15.1602 14.3898 14.1057 15.0879V17.5866H17.3282C19.2205 15.8449 20.3081 13.2728 20.3081 10.2303Z"
                        fill="#3F83F8"></path>
                    <path
                        d="M10.7019 20.0006C13.3989 20.0006 15.6734 19.1151 17.3306 17.5865L14.1081 15.0879C13.2115 15.6979 12.0541 16.0433 10.7056 16.0433C8.09669 16.0433 5.88468 14.2832 5.091 11.9169H1.76562V14.4927C3.46322 17.8695 6.92087 20.0006 10.7019 20.0006V20.0006Z"
                        fill="#34A853"></path>
                    <path
                        d="M5.08857 11.9169C4.66969 10.6749 4.66969 9.33008 5.08857 8.08811V5.51233H1.76688C0.348541 8.33798 0.348541 11.667 1.76688 14.4927L5.08857 11.9169V11.9169Z"
                        fill="#FBBC04"></path>
                    <path
                        d="M10.7019 3.95805C12.1276 3.936 13.5055 4.47247 14.538 5.45722L17.393 2.60218C15.5852 0.904587 13.1858 -0.0287217 10.7019 0.000673888C6.92087 0.000673888 3.46322 2.13185 1.76562 5.51234L5.08732 8.08813C5.87733 5.71811 8.09302 3.95805 10.7019 3.95805V3.95805Z"
                        fill="#EA4335"></path>
                </g>
                <defs>
                    <clipPath id="clip0_13183_10121">
                        <rect width="20" height="20" fill="white" transform="translate(0.5)"></rect>
                    </clipPath>
                </defs>
            </svg>
            Log in with Google
        </button>
        <button (click)="loginWithFacebook()" class="active:bg-gray-200 hover:bg-gray-100 w-1/2 flex justify-center items-center text-sm gap-2 rounded-lg border-gray-300 border py-2">
            <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                <linearGradient id="Ld6sqrtcxMyckEl6xeDdMa" x1="9.993" x2="40.615" y1="9.993" y2="40.615"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#2aa4f4" />
                    <stop offset="1" stop-color="#007ad9" />
                </linearGradient>
                <path fill="url(#Ld6sqrtcxMyckEl6xeDdMa)" d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z" />
                <path fill="#fff" d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z" />
            </svg>
            Log in with Facebook
        </button>
    </div>
    <div class="flex flex-row items-center justify-center text-center">
        <div class="w-2/5 h-1 bg-primary-300 rounded"></div>
        <div class="w-1/5">or</div>
        <div class="w-2/5 h-1 bg-primary-300 rounded    "></div>
    </div>
    <div *ngIf="errMessage" class="flex justify-center items-center text-center text-red-500 text-sm bg-red-100 rounded p-4">
        {{errMessage}}
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-4 md:space-y-6">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                email</label>
            <input formControlName="email" type="email" id="email"
                [ngClass]="getFormControlError('email') ? 'border-red-500' : ''"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="name@company.com">
            <div ngClass="text-sm text-red-500 mt-1" *ngIf="getFormControlError('email')">
                {{getFormControlError('email')}}
            </div>
        </div>
        <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input formControlName="password" type="password" id="password" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                [ngClass]="getFormControlError('password') ? 'border-red-500' : ''">
            <div ngClass="text-sm text-red-500 mt-1" *ngIf="getFormControlError('password')">
                {{getFormControlError('password')}}
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" aria-describedby="remember" type="checkbox"
                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                        required="">
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                </div>
            </div>
            <a routerLink="/forgot-password"
                class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
        </div>
        <button type="submit"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign
            in</button>
        <!-- <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet?
            <a routerLink="/register" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign
                up</a>
        </p> -->
    </form>
</div>